Flask
Flask-Bootstrap
Flask-WTF
nltk
scikit-learn
pandas
matplotlib
Flask-Login
Flask-Mail
Flask-Admin
plotly
Flask-SQLAlchemy

Flask
Flask-SQLAlchemy
Flask-Login
TextBlob
pandas
scikit-learn
nltk
beautifulsoup4
requests
textblob